<configuration>
    <target name="fd">
        <default name="floppydisk.storage" value="new-engine/config/storage.xml"/>

        <floppydisk model="fd640">

            <section name="SCENE" track="0" face="1" sector="16"/>
            <section name="DATA"  track="1" face="0" sector="1"/>

            <directory id="0" section="INDEX" genbinary="src/directories/00/directory.bin" gensymbols="src/directories/00/entries.asm"> <!--genbinary is optional-->
                <default name="direntry.section"      value="DATA"/>
                <default name="direntry.maxsize"      value="0x4000"/>
                <default name="lwasm.format"          value="obj"/>

                <direntry name="assets.main.runpixel" codec="zx0">
                    <lwasm>
                        <asm filename="src/assets/main/run-pixel.asm"/>
                    </lwasm>
                </direntry>

                <direntry name="assets.object.pixel" codec="zx0">
                    <lwasm>
                        <asm filename="src/assets/object/pixel.asm"/>
                    </lwasm>
                </direntry>

                <direntry name="scenes.title" section="SCENE">
                    <lwasm format="raw">
                        <asm filename="src/directories/00/entries.asm"/>
                        <asm filename="src/scenes/title/scene-type-01.asm"/>
                    </lwasm>
                </direntry>

            </directory>

            <!-- optional defines - default values are declared in relevant <routine>.const.asm -->
            <define symbol="loader.PAGE" value="4"/>                             <!-- tells where the boot will place the loader -->
            <define symbol="loader.ADDRESS" value="$A000"/>                      <!-- tells where the boot will place the loader -->
            <define symbol="loader.DEFAULT_DYNAMIC_MEMORY_SIZE" value="$1000"/>  <!-- tells size of dynamic memory pool -->

            <define symbol="boot.CHECK_MEMORY_EXT"/>                             <!-- throw an error at boot if memory ext. is not detected -->

            <data section="LOADER">
                <lwasm format="raw" gensource="new-engine/system/to8/bootloader/loader.asm">
                    <asm filename="src/directories/00/entries.asm"/>
                    <asm>loader.DEFAULT_SCENE_DIR_ID    equ 0</asm>
                    <asm>loader.DEFAULT_SCENE_EXEC_PAGE equ 5</asm>
                    <asm>loader.DEFAULT_SCENE_EXEC_ADDR equ 0</asm>
                    <asm>loader.DEFAULT_SCENE_FILE_ID   equ scenes.title</asm>
                    <asm filename="new-engine/system/to8/bootloader/loader.asm"/>
                </lwasm>
            </data>

            <data section="BOOT" maxsize="0x100">   
                <cksumfd640>
                    <lwasm format="raw">
                        <asm filename="new-engine/system/to8/bootloader/boot.asm"/>
                    </lwasm>
                </cksumfd640>
            </data>

            <fd  filename="demo.fd"/>
            <sd  filename="demo.sd"/>
            <sap filename="demo.sap"/>
            <hfe filename="demo.hfe"/>
        </floppydisk>
    </target>
</configuration>

